# Environment variables
.env
collector/config.env
venv/

# Python
__pycache__/
*.pyc

# PostgreSQL data
db/data/

# Grafana data
grafana/data/

# Backups
*.backup
*.tar

# Editor files
.vscode
.idea

# Local environment configuration
collector/config.env
windows/collector/config.env
windows/v2-python/config.env


