# =========================================
# InfraGuardian - Windows Collector Config
# =========================================

# PostgreSQL connection
POSTGRES_HOST=192.168.0.0
POSTGRES_PORT=5432
POSTGRES_DB=infraguardian
POSTGRES_USER=igadmin
POSTGRES_PASSWORD=2012.change_me

# InfraGuardian metadata
ROLE=role
ENVIRONMENT=prod

# Path to psql executable
PSQL_PATH=C:\Program Files\PostgreSQL\17\bin\psql.exe