POSTGRES_HOST=192.168.1.10
POSTGRES_PORT=5432
POSTGRES_DB=infraguardian
POSTGRES_USER=igadmin
POSTGRES_PASSWORD=tu_password

HOST_ROLE=windows-server
HOST_ENVIRONMENT=production

COLLECTOR_INTERVAL=30
DISK_PATH=C:\